.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 10px 35px;
    position: fixed;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 2;
}

.nav .brand {
    flex: 2;
}

.nav .brand img {
    max-height: 35px;
    width: auto;
}

.NavBar, .NavBar-mobile {
    height: 40px;
    align-self: center;
    padding: 0px;
    margin: 0px;
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.nav ul li a {
    color: black;
    text-decoration: #ff8d23;
    border-bottom: 1px solid transparent;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
}

.nav ul li a:hover {
    border-bottom: 1px solid #ff8d23;
}

.nav ul .active {
    border-bottom: 2px solid #ff8d23;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 700px) {
    .nav {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding-left: 15px;
    }
    .nav .brand img {
        max-height: 30px;
        width: auto;
    }
    .NavBar {
        display: none;
    }
    .hamburger {
        display: block;
        color: black;
        border-style: none;
        background: transparent;
        font-size: 1.5rem;
        width: 40%;
        justify-self: center;
    }
    .NavBar-mobile {
        display: block;
        width: 85%;
        height: 100vh;
        margin-left: 11%;
        top: 60px;
        right: 0;
        padding-top: 150px;
        position: absolute;
        z-index: 2;
        background-color: white;
    }
    .NavBar-mobile li {
        padding: 15px;
        padding-left: 40px;
       
    }
    .nav ul li a{
        font-size: 20px;
    }
   
    .nav ul li:nth-child(odd){
        background-color:  #F7F7F7;
    }
}