.LandingPage{
    font-size: 18px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../images/background1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
.hero-intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 100px;
}
.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.hero-info p{
    width: 87%;
}
.hero-info h1{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 66px;
    text-transform: capitalize;
    color: #000000;
}
.hero-info button{
    border-radius: 25px;
    border-style: none;
    background-color: #ff8d23;
    color: white;
    padding: 10px 15px 10px 15px;
    width: 35%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-image{
   display: flex;
   justify-content: center;
   align-items: flex-start;
}
.hero-contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
}
.hero-contact-info{
    width: 60%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    background-color: #F6EDEF;
    box-shadow: 8.82458px 8.82458px 88.2458px 3.52983px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 0px 50px;
    padding: 10px;
}
.clock{
    justify-self: end;
}
.phone{
    justify-self: left;
}
.icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    background-color: #ff8d23;
    color: white;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 575px){
    .hero{
        height: 900px;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .hero-image{
        display: none;
    }
    .hero-intro{
        display: flex;
        padding: 0px;
        margin-top: 30px;
    }
    .hero-info{
        width: 90%;
        padding: 50px;
    }
    .hero-contact{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .hero-contact-info{
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}