.LandingPage {
    font-size: 16px;
}
h2, h3{
    font-family: 'Inter';
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../images/background1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: 70px;
}

.hero-intro {
    display: flex;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;*/
    margin: 50px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-info p {
    max-width: 475px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
    color: #717171;
}

.hero-info h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 52px;
    text-transform: capitalize;
    color: #484848;
    max-width: 506px;
    margin-bottom: 20px;
}

.hero-info button {
    border-radius: 25px;
    border-style: none;
    background-color: #ff8d23;
    color: white;
    padding: 10px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-image {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: flex-start;
    max-width: 450px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.hero-contact {
    padding: 50px;
}

.hero-contact-info {
    max-width: 290px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 1px solid transparent;
    background-color: #F6EDEF;
    box-shadow: 8.82458px 8.82458px 88.2458px 3.52983px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 0px 50px;
    padding: 10px;
}

.hero-contact-info p {
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 11.4425px;
    margin: 2px 0px;
    text-transform: capitalize;
    color: #717171;
}

.hero-contact-info .mid_text {
    color:#484848;
}

.icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    background-color: #ff8d23;
    color: white;
    display: flex;
    justify-content: center;
}

.landingPage-about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

.sec-text {
    color: #ff8d23;
}

.landingPage-about h3 {
    font-weight: bold;
}

.landingPage-about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-top: 30px;
}

.landingPage-about-content img {
    width: 80%;
    height: auto;
    justify-self: flex-end;
}

.landingPage-about-info {
    text-align: justify;
    /* width: 90%; */
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.landingPage-about-info p {
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: #717171;
}

.landingPage-about-info button {
    width: 40%;
    background-color: #ff8d23;
    color: white;
    border-radius: 25px;
    border-style: none;
    padding: 10px;
    margin-top: 30px;
}

.landingPage-ad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/background2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    margin-top: 50px;
    padding: 0px 50px;
    height: 200px;
}

.landingPage-ad p {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    max-width: 732px;
}

.landingPage-ad button {
    color: #ff8d23;
    background-color: white;
    border-radius: 25px;
    border-style: none;
    height: 50px;
    padding: 5px 40px 5px 40px;
    align-self: center;
    justify-self: center;
}

.landingPage-order{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(100, 81, 67, 0.05);
    /* padding-top: 50px; */

}
@media screen and (max-width: 700px) {
    .hero-image {
        display: none;
    }
    .hero-intro {
        margin: 30px;
    }
    .hero-info p {
        max-width: 350px;
        font-size: 18px;
    }
    .hero-info h1 {
        font-size: 44px;
        line-height: 52px;
        max-width: 350px;
    }
    .hero-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-contact-info {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* .landingPage-about {} */
    .landingPage-about-content {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .landingPage-about h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 18px;
    }
    .landingPage-about-content img {
        width: 100%;
    }
    .landingPage-about-info {
        width: 100%;
        padding: 30px;
    }
    .sec-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 40px;
        letter-spacing: 0.35em;
        color: #FF7913;
        margin-bottom: 0;
    }
    .landingPage-ad {
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .landingPage-ad p {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
    }
    .landingPage-ad button {
        margin-left: 0%;
        /* padding: 0px; */
        height: 50px;
    }
    .landingPage-order{
        height: 1200px;
    }
}