.menu-nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px 25px 25px;
}

.menu-categories {
    display: flex;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 0px;
    padding: 0px;
}

.menu-categories li {
    list-style-type: none;
    white-space: nowrap;
    padding: 0px 5px;
}

.menu-categories li button {
    color: black;
    text-decoration: #ff8d23;
    border-style: none;
    outline: none;
    word-wrap:normal;
    min-width: 70px;
    border-bottom: 1px solid transparent;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    background-color: transparent;
}
.menu-categories .active {
    border-bottom: 2px solid #ff8d23;
}