.menu-nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-bottom: 100px;
}

.menu-categories {
    display: flex;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 0px;
    padding: 0px;
}

.menu-categories li {
    list-style-type: none;
    white-space: nowrap;
    padding: 0px 5px;
}

.menu-categories li button {
    color: black;
    text-decoration: #ff8d23;
    border-style: none;
    outline: none;
    word-wrap:normal;
    border-bottom: 1px solid transparent;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    background-color: transparent;
}
.empty-container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 100%;
}
.empty-container img{
    max-height: 250px;
    width: auto;
}
.empty-container p{
    text-align: center;
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
/* .menu-categories li button:hover {
    border-bottom: 1px solid #ff8d23;
} */

.menu-categories .active {
    border-bottom: 2px solid #ff8d23;
}

.dish-menu2 {
    margin-top: 50px;
}

.dish-menu2, .dish-menu {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}