.Card{
    width: 15rem;
    height: 15rem;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: white;
}
.icon{
    filter: drop-shadow(0px 3.51332px 35.1332px rgba(0, 0, 0, 0.25));
    max-height: 100px;
}
.Card-body{
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Card-text{
    min-height: 72px;
    text-align: center;
    margin-bottom: 0px;;
    font-family: 'Lato';
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    
}

@media screen and (max-width: 700px){
    .card-container{
        flex-direction: column;
        align-items: center;
    }
}