
.processes{
    /* background-color: rgba(255, 141, 35, 0.04); */
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
.formSection{
    background-color: rgba(255, 141, 35, 0.04);
    height: fit-content;

}
.dashSymbol{
    border-bottom: 1px solid black !important;
    /* width: 18px; */ 
    min-width: 10px ;
}
.activeText{
    color: rgba(255, 141, 35, 1);
}
.inputDetails{
    background-color:  rgba(255, 141, 35, 0.19) !important;
}
.countButton{
    background: linear-gradient(0deg, rgba(255, 141, 35, 0.19), rgba(255, 141, 35, 0.19)), rgba(255, 141, 35, 0.19);
    border-radius: 2px;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 100;
}
.orderView{
    background-color: rgba(255, 141, 35, 0.04);
    height: 100%;
}
.orderSection{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.imageWrapper{
    /* width: 65%; */
}


/* media querry */
@media screen and (max-width: 991px){
    .processes{
        font-size: 13px ;
        /* margin-right: 0 !important;*/
    }
    .formSection{
        margin: 15px 0px;
    }
}
@media screen and (max-width: 767px) and (min-width: 576px){
    .processes{
        font-size: 10px;
    }
    .dashSymbol{
        /* border-bottom: 2px solid black !important;
    width: 18px; */
    }
}
@media screen and (max-width: 575px) and (min-width: 425px){
    .purchaseDetails{
        padding: 4em;
    }
}

@media screen and (min-width: 576px) {
    .checkoutBody{
        max-height: 100vh;
    }
    .orderSection{
        height: 100%;
    }
}